@import 'tailwindcss';

* {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* Ocultar scrollbar en Chrome, Edge y Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Evitar que el scroll desaparezca la funcionalidad */
html,
body {
  -ms-overflow-style: none; /* IE y Edge antiguos */
}

/* Background */
@layer utilities {
  .noise-bg::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('/noise.png');
    background-repeat: repeat;
    opacity: 0.3;
    pointer-events: none;
    z-index: -1;
  }
}

/* Social Links */
@layer utilities {
  @keyframes flash-glow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
      box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  .hover\:flash:hover {
    animation: flash-glow 1.5s ease-out;
    border-radius: 9999px;
  }
}

/* Spark Animation */
@keyframes spark {
  0% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
@layer utilities {
  .animate-spark {
    animation: spark 4s linear infinite;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #f97316;
    border-radius: 9999px;
    box-shadow: 0 0 8px 4px rgba(255, 166, 0, 0.4);
  }
}

@keyframes star-blink {
  0%,
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.5);
  }
}

@keyframes star-fall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(5vw);
    opacity: 0;
  }
}

.star-blink {
  animation-name: star-blink;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.star-fall {
  animation-name: star-fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Avatar Animation */
@keyframes float-y {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(20px);
  }
}

.animate-float {
  animation: float-y 4s ease-in-out infinite;
}

.icon::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 50px;
  background-image: var(--icon-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
}

.glow-card {
  @apply flex cursor-pointer flex-col items-center gap-2 rounded-2xl p-1 transition-all duration-300;
}

.hover-glow-orange:hover {
  background-color: rgba(255, 119, 0, 0.2);
  border: 1px solid rgba(255, 119, 0, 0.3);
  box-shadow:
    0 0 20px rgba(255, 119, 0, 0.4),
    0 0 40px rgba(255, 119, 0, 0.2);
  transform: scale(1.05);
}

.hover-glow-blue:hover {
  background-color: rgba(59, 130, 246, 0.2);
  border: 1px solid rgba(59, 130, 246, 0.3);
  box-shadow:
    0 0 20px rgba(59, 130, 246, 0.4),
    0 0 40px rgba(59, 130, 246, 0.2);
  transform: scale(1.05);
}

.hover-glow-yellow:hover {
  background-color: rgba(251, 191, 36, 0.2);
  border: 1px solid rgba(251, 191, 36, 0.3);
  box-shadow:
    0 0 20px rgba(251, 191, 36, 0.4),
    0 0 40px rgba(251, 191, 36, 0.2);
  transform: scale(1.05);
}

.hover-glow-cyan:hover {
  background-color: rgba(34, 211, 238, 0.2);
  border: 1px solid rgba(34, 211, 238, 0.3);
  box-shadow:
    0 0 20px rgba(34, 211, 238, 0.4),
    0 0 40px rgba(34, 211, 238, 0.2);
  transform: scale(1.05);
}

.hover-glow-green:hover {
  background-color: rgba(34, 197, 94, 0.2);
  border: 1px solid rgba(34, 197, 94, 0.3);
  box-shadow:
    0 0 20px rgba(34, 197, 94, 0.4),
    0 0 40px rgba(34, 197, 94, 0.2);
  transform: scale(1.05);
}

.hover-glow-purple:hover {
  background-color: rgba(147, 51, 234, 0.2);
  border: 1px solid rgba(147, 51, 234, 0.3);
  box-shadow:
    0 0 20px rgba(147, 51, 234, 0.4),
    0 0 40px rgba(147, 51, 234, 0.2);
  transform: scale(1.05);
}

.hover-glow-pink:hover {
  background-color: rgba(236, 72, 153, 0.2);
  border: 1px solid rgba(236, 72, 153, 0.3);
  box-shadow:
    0 0 20px rgba(236, 72, 153, 0.4),
    0 0 40px rgba(236, 72, 153, 0.2);
  transform: scale(1.05);
}

.hover-glow-white:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.4),
    0 0 40px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.hover-glow-red:hover {
  background-color: rgba(239, 68, 68, 0.2);
  border: 1px solid rgba(239, 68, 68, 0.3);
  box-shadow:
    0 0 20px rgba(239, 68, 68, 0.4),
    0 0 40px rgba(239, 68, 68, 0.2);
  transform: scale(1.05);
}

.hover-glow-teal:hover {
  background-color: rgba(13, 148, 136, 0.2);
  border: 1px solid rgba(13, 148, 136, 0.3);
  box-shadow:
    0 0 20px rgba(13, 148, 136, 0.4),
    0 0 40px rgba(13, 148, 136, 0.2);
  transform: scale(1.05);
}

.hover-glow-lime:hover {
  background-color: rgba(132, 204, 22, 0.2);
  border: 1px solid rgba(132, 204, 22, 0.3);
  box-shadow:
    0 0 20px rgba(132, 204, 22, 0.4),
    0 0 40px rgba(132, 204, 22, 0.2);
  transform: scale(1.05);
}

.hover-glow-rose:hover {
  background-color: rgba(244, 63, 94, 0.2);
  border: 1px solid rgba(244, 63, 94, 0.3);
  box-shadow:
    0 0 20px rgba(244, 63, 94, 0.4),
    0 0 40px rgba(244, 63, 94, 0.2);
  transform: scale(1.05);
}

.hover-glow-amber:hover {
  background-color: rgba(245, 158, 11, 0.2);
  border: 1px solid rgba(245, 158, 11, 0.3);
  box-shadow:
    0 0 20px rgba(245, 158, 11, 0.4),
    0 0 40px rgba(245, 158, 11, 0.2);
  transform: scale(1.05);
}

.hover-glow-fuchsia:hover {
  background-color: rgba(192, 38, 211, 0.2);
  border: 1px solid rgba(192, 38, 211, 0.3);
  box-shadow:
    0 0 20px rgba(192, 38, 211, 0.4),
    0 0 40px rgba(192, 38, 211, 0.2);
  transform: scale(1.05);
}

.hover-glow-sky:hover {
  background-color: rgba(14, 165, 233, 0.2);
  border: 1px solid rgba(14, 165, 233, 0.3);
  box-shadow:
    0 0 20px rgba(14, 165, 233, 0.4),
    0 0 40px rgba(14, 165, 233, 0.2);
  transform: scale(1.05);
}

.hover-glow-indigo:hover {
  background-color: rgba(99, 102, 241, 0.2);
  border: 1px solid rgba(99, 102, 241, 0.3);
  box-shadow:
    0 0 20px rgba(99, 102, 241, 0.4),
    0 0 40px rgba(99, 102, 241, 0.2);
  transform: scale(1.05);
}

.hover-glow-slate:hover {
  background-color: rgba(100, 116, 139, 0.2);
  border: 1px solid rgba(100, 116, 139, 0.3);
  box-shadow:
    0 0 20px rgba(100, 116, 139, 0.4),
    0 0 40px rgba(100, 116, 139, 0.2);
  transform: scale(1.05);
}

.hover-glow-zinc:hover {
  background-color: rgba(113, 113, 122, 0.2);
  border: 1px solid rgba(113, 113, 122, 0.3);
  box-shadow:
    0 0 20px rgba(113, 113, 122, 0.4),
    0 0 40px rgba(113, 113, 122, 0.2);
  transform: scale(1.05);
}

.tooltip {
  @apply absolute bottom-full mb-2 rounded-md border p-1 px-2 py-1 text-sm font-semibold backdrop-blur-md transition-all duration-300;
  white-space: nowrap;
  opacity: 0;
  transform: translateY(10px);
}

.group:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}
.tooltip {
  position: absolute;
  top: -2.5rem;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  background-color: #1f2937;
  color: white;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}
.group:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
